.container{
    height: 100%;
    width: 100%;
    display: grid;
    // background: black;
    grid-template-columns:1fr;
    grid-template-rows: auto ;
    grid-template-areas: 
    "widgets"
    "chart"
    ;
}

.widgetsContainer{
    grid-area: widgets;
    display: grid;

    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: auto ;
    grid-template-areas: 
    "mrr subs churn"
    ;

    .mrr{
        grid-area: mrr;
        background: lightblue;
    }
    
    .subs{
        grid-area: subs;
        background: lightgoldenrodyellow;
    
    }
    
    .churn{
        grid-area: churn;
        background: lightgreen;
    }
}
