
.container{
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .chart{
        height: 600px;
        width: 100%;
    }
}

:global{
    .highcharts-credits{
        display: none
    }
}